body {
    background-image: url(mapDublin.png);
    padding-bottom: 30px;
}

.navbar-default {
    background-color: #ffcfcf;
    margin-bottom: 0px;

}

.bigcircle {
    background: #FFCFCF;
    border-radius: 50%;
    height: 190px;
    width: 190px;
    position: relative;
    border: double;
}

.circle {

    position: absolute;
    background: #a9aaab;
    border-radius: 82px;
    height: 150px;
    width: 150px;
    top: 10%;
    left: 0%;
    border: 3.5px solid #ba9c6c;
    font-family: Cambria;
    font-size: 30px;
    color: white;
    line-height: 25px;
    text-align: center;
    background: #fff;
    position: relative;
    z-index: 1;
}
.circle:before {
    position: absolute;
    right: 4px;
    top: 4px;
    left: 4px;
    bottom: 4px;
    content: '';
    background: #ba9c6c;
    border-radius: 75px;
    z-index: -1;
}
.circle:active {
    background: #315481;
}


