<template name="calender">
    <div>
        {{> menu}}
    </div>
    <div class="container-fluid">
        <div class="row" align="center">
            <h2>Service: {{serviceName}}</h2>
        </div>
        <div class="row" align="center">

            <form class="new-appointment">
                <div class="attendance well well-small">
                <div class="input-group datetimepicker">
                    <input id="datepicker" name="datepicker" class="set-due-date form-control" type="text"/>

                </div>

        <div class="row" align="center">
            <input type="submit" class="button" value="Submit">
        </div>
                </div>
        </form>
            </div>
        </div>

</template>
