<template name="confirmation">

    <div>
        {{> menu}}
    </div>
    <div class="row" align="center">

        <div class="container">
            <h2>Confirmation</h2>

            <div class="col-xs-12 col-md-4 col-lg-4">
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <form class="form-horizontal" id="new-booking">
                    <div class="form-group">
                            <label for="pserviceRepName" class="col-sm-4 control-label">Representative</label>
                        <div class="col-sm-8">
                            <input id="pserviceRepName" name="pserviceRepName" class="form-control" type="text" value="{{serviceRepName}}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pserviceName" class="col-sm-4 control-label">Service</label>
                        <div class="col-sm-8">
                            <input id="pserviceName" name="pserviceName" class="form-control" type="text" value="{{serviceName}}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pbookingdatetime" class="col-sm-4 control-label">Booking date</label>
                        <div class="col-sm-8">
                            <input id="pbookingdatetime" name="pbookingdatetime" class="form-control" type="text" value="{{bookingdatetime}}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="plocation" class="col-sm-4 control-label">Location</label>
                        <div class="col-sm-8">
                            <input id="plocation" name="plocation" class="form-control" type="text" value="{{serviceRepLocation}}" readonly>
                        </div>
                    </div>
                       
                        <span class="payment-errors"></span>

                        <div class="form-row">
                            <label>
                                <span>Card Number</span>
                                <input type="text" size="20" data-stripe="number" name="pcardNumber"/>
                            </label>
                        </div>

                        <div class="form-row">
                            <label>
                                <span>CVC</span>
                                <input type="text" size="4" data-stripe="cvc" name="pcvc"/>
                            </label>
                        </div>

                        <div class="form-row">
                            <label>
                                <span>Expiration (MM/YYYY)</span>
                                <input type="text" size="2" data-stripe="exp-month" name="pexpMo"/>
                            </label>
                            <span> / </span>
                            <input type="text" size="4" data-stripe="exp-year" name="pexpYr"/>
                        </div>


                        <input type="submit" class="button" value="Submit">
                </form>
            </div>
        </div>

    </div>

</template>