<template name="profile">
    <div>
        {{> menu}}
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div align="center" class="row">
                    <br>
                    <img src="http://graph.facebook.com/{{currentUser.profile.id}}/picture?type=large" class="circular" style="border: double">
                </div>
                <div class="row" align="center">
                    <h2>{{currentUser.profile.first_name }} {{ currentUser.profile.last_name }}</h2>
                </div>
                <div class="row" align="center">
                    <input type="text" id="inputPhoneNumber" placeholder="Contact number"  value="{{currentUser.profile.phonenumber}}">
                </div>
                <br>
                <div class="row" align="center">
                    <textarea rows="5" class="textarea" id="inputAddress" placeholder="Address"  value="{{currentUser.profile.address}}"></textarea>
                </div>
                <div class="row" align="center">
                    <input type="text" name="locationinput" class="inputbottom" id="inputCurrentLocation" placeholder="Use current location" value="{{currentUser.profile.location.lat}},{{currentUser.profile.location.lon}}">
                </div>
                <br>
                <br>
                <div class="row" align="center">
                    <input type="button" class="button" value="Submit">
                </div>
            </div>
        </div>
    </div>

</template>